<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">
         
             
            <bean name="bike" class="demo.Bike">
            
            
            
            <property name="id" value="1"></property>
            <property name="name" value="BMW1300"></property>
            <property name="brand" value="BMW"></property></bean>
            
            <bean name="car" class="demo.Car">
           <constructor-arg index="0" value="1"></constructor-arg>
            <constructor-arg index="1" value="Mustang"></constructor-arg>
            <constructor-arg index="2" value="Ford"></constructor-arg></bean>
</beans>
